body	{ font-family: "Helvetica Neue", Arial, sans-serif;
	  color: #333333;
	  font-size: 120%;
	  margin-top: 1%;
	  margin-right: 5%;
	  margin-left: 5%;
}
header	{ font-family: ProductSans;
	  font-size: 120%;
}
nav ul	{ list-style-type: none;
	  margin: 2px;
	  padding: 2px;
	  text-align: center;
}
.nav li	{ display: block;
}
.nav li a { color: black;
	    display: block;
	    text-align: center;
	    margin: 4px;
	    padding: 12px 14px;
	    text-decoration: none;
	    background-color: #99e6ee;
	    border-radius: 2px;
}
#content { flex-direction: column;
}
section  { display: none;
}
hr	{ opacity: 0.4;
	  width: 90%;
}
@font-face { font-family: ProductSans;
	     src: url(productsans.ttf);  
}
